// Text Color
$black: #000;
$hotpink: #ae1332;
$freshgreen: #a4cb66;
$yellow: #f5ce13;
$white: #fff;

// Background Color
$background-flesh: #ffc3c5;
$strawberry: #f8766b;
$banana: #edd251;
$watermelon: #9dc262;
$lime: #bfd663;
$apple: #e93f29;
$peach: #db4f4b;
$plum: #9b5366;
$orange: #f47f4c;
$kiwi: #98b37e;
$pop-up: #e03f5e;
$send-submit: #9dc162;
