@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --font-family: 'DM Sans', sans-serif;
  --black-color: #000;
  --red-color: #ae1332;
  --lime-color: #a4cb66;
  --yellow-color: #f5ce13;
  --white-color: #fff;
}

/* Global Styles */
* {
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  background-color: var(--red-color);
}
