<!-- CACACACACAACACACACAC -->
<article class="container fruits-container-mobile">
  <section class="fruicts-section">
    <h3 class="fruicts-title">ORGANIC fRUITS</h3>
    <p class="fruicts-pharagraf">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <div class="fruicts-container">
      <div class="fruicts-container-list">
        <ul class="list fruicts-list">
          <li class="fruicts-list-item card-strawberry">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Strawberry</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/strawberry@2x-64a05dd2.webp"
                alt="strawberry"
              />
              <button class="fruicts-button">100 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-banana">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Banana</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/banana@2x-e2e15757.webp"
                alt="banana"
              />
              <button class="fruicts-button">80 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-watermelon">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Watermelon</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/watermelon@2x-ef114231.webp"
                alt="watermelon"
              />
              <button class="fruicts-button">40 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-lime">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Lime</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <div class="test1">
                <img
                  class="fruits-image"
                  src="./images/fruit-section-image/lime@2x-c373ada2.webp"
                  alt="lime"
                />
              </div>
              <button class="fruicts-button fruicts-button-lime">
                60 UAH / kg
              </button>
            </div>
          </li>

          <li class="fruicts-list-item card-apple">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Apple</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/apple@2x-e0b5c9b6.webp"
                alt="apple"
              />
              <button class="fruicts-button">50 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-peach">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Peach</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/peach@2x-169913a0.webp"
                alt="peach"
              />
              <button class="fruicts-button">80 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-plums desktop-only">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Plums</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/plums@2x-caf59f6f.webp"
                alt="plums"
              />
              <button class="fruicts-button">40 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-orange desktop-only">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Orange</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/orange@2x-80761274.webp"
                alt="orange"
              />
              <button class="fruicts-button">60 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-kiwi desktop-only">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Kiwi</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/fruit-section-image/kiwi@2x-a89d463f.webp"
                alt="kiwi"
              />
              <button class="fruicts-button">90 UAH / kg</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="hover-content">
        <svg
          class="order-button"
          width="114"
          height="114"
          viewBox="0 0 114 114"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="57" cy="57" r="57"></circle>
        </svg>
        <div class="other-button-container">
          <svg
            class="order-icon"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 2.07407L11.9259 0V10.3704L1.55556 0L0 1.55556L10.3704 11.9259H0L2.07407 14H14V2.07407Z"
            ></path>
          </svg>
          <button data-shop-open class="order-text">Order</button>
        </div>
      </div>
    </div>
  </section>
</article>
