<article class="header-article" id="en">
  <header class="header">
    <ul class="header-nav-button">
      <li>How It Works</li>
      <li>Fruits</li>
      <li>Contacts</li>
    </ul>
    <a href="./index.html">
      <svg widht="16" height="16">
        <use href="./images/icons.svg/sprite-collection.svg#freshlogo"></use>
      </svg>
      <h3 class="header-title">fresh harvest box</h3>
    </a>
    <svg widht="16" height="16">
      <use href="./images/icons.svg/sprite-collection.svg#basket"></use>
    </svg>
  </header>
</article>
