<article id="en">
  <section class="hero-section">
    <!-- Hero-left-div-section -->
    <div>
      <p class="hero-fruits-par">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="hero-left-cards">
        <h3 class="hero-card">Fruit</h3>
        <img
          class="hero-left-img"
          src="./images/hero-watermelon@2x.webp"
          alt="-"
        />
        <p class="hero-left-card-parg">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <!-- Hero-Girl-div-section -->
    <div>
      <h1 class="hero-title">
        fresh harvest box is your one-stop place for a delicious fruit basket
      </h1>
      <img
        class="hero-pictures"
        src="./images/hero-girl-tablet@2x.webp"
        alt="-"
      />
      <button class="hero-shopnow-button" type="button">Shop Now</button>
    </div>
    <!-- Hero-right-div-section -->
    <div>
      <div class="hero-right-card">
        <h3 class="hero-card">Fruit</h3>
        <img
          class="hero-right-img"
          src="./images/hero-strawberry-basket@2x.webp"
          alt=""
        />
        <p class="hero-left-card-parg">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
      <ul>
        <li class="hero-card-left-list">#organic</li>
        <li class="hero-card-left-list">#products</li>
        <li class="hero-card-left-list">#basket</li>
        <li class="hero-card-left-list">#fruits</li>
      </ul>
    </div>
  </section>
</article>
