<article id="en">
  <section>
    <h1 class="order-sec-title">
      To order your fruit basket, simply follow these easy steps
    </h1>
    <p class="order-sec-par">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul>
      <li class="order-list">
        <p class="list-title">First Step</p>
        <p class="order-card-par">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="order-list">
        <p>Second Step</p>
        <p>Click on the basket and fill out the form.</p>
      </li>
      <li class="order-list">
        <p>Third Step</p>
        <p>Sit back and relax! Your fresh fruit basket will be delivered.</p>
      </li>
    </ul>
  </section>
</article>
