<link rel="stylesheet" href="./sass/thank.scss" />

<!-- <div data-thank-you class="thank-wrapper is-hidden">
  <button
    id="resetButton"
    type="button"
    class="thank-you-button"
    data-thank-you-close
    data-shop-close
  >
    <svg class="thank-close-svg" width="24" height="24">
      <use href="./images/icons.svg#thank-close"></use>
    </svg>
  </button>
  <picture>
    <img class="thank-img" src="./images/modal-rasberry.png" />
  </picture>

  <h3 class="thank-title">THANK YOU</h3>
  <p class="thank-you-text">
    Thank you for your order! Our team is preparing your box with fresh,
    delicious fruits and vegetables, and we'll deliver it straight to your
    doorstep. We appreciate your business and look forward to providing you with
    the best possible experience!
  </p>
</div> -->
